body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.container{
    height: 100%;
}
/* navigation bar styling */
.navbar{
    /* border: 2px solid red; */
    background-color:#4f7de0;
    display: flex;
    width: 100%;
    height: 9.5%;
    
    
}
#navbarId{
    transition: margin-left 0.5s; 
}
#barsmenu{
    transition-delay:0.5s;
}
.navbar1{
    /* border: 2px solid white; */
    flex-basis: 70%;
    display: flex;
}
.navbar .navbar1 a{
    /* border: 2px solid black; */
    text-decoration: none;
    margin:0;
    padding: 23px 40px;
    text-align: center;
    font-size: 22px;
    font-family: arial,serif;
    color: rgb(253, 176, 9);
    float: left;
    position: relative;
    
}
.navbar ul{
    /* border: 2px solid white; */
    flex-basis: 90%;
    height:100%;
    list-style: none;
    margin:0;

    
}
.navbar a:hover{
    background-color: #46619b;
    color: #ddd;
}

.fa-bars{
    margin:15px 10px 10px 15px;
    font-size: 30px;
    color: white;
    display: none;
}


.navbar2{
    /* border: 2px solid green; */
    flex-basis: 30%;
    color: white;
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    margin-left: auto;
    transform: translateX(-15%);
    transition-delay: 1.2, 0ms;
    animation: 10s banka infinite;

}

@keyframes banka{
    0%{color: white;margin-right:0;margin-left: 0;}
    25%{color: rgb(252, 193, 66);margin-right: 15px; margin-left: 0;}
    50%{color: rgb(253, 176, 9);margin-right: 0; margin-left: 15px;}
    75%{color: teal;margin-right: 15px; margin-left: 0;}
    100%{color: white;margin-right: 15px; margin-left: 0;}
}

/* side nav bar styling */

.side-nav-bar{
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #6b9aff;
    opacity: .9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.side-nav-bar a{
    text-decoration: none;
    padding: 10px 10px 10px 15px;
    display: block;
    font-size: 20px;
    color:#fff;
    
}

.side-nav-bar a:hover{
    color: #3b5998;
}
.side-nav-bar .close-icon{
    position:absolute;
    top: 0px;
    right: 15px;
    font-size: 30px;
    display: none;
}

/* welcome page media query */
@media (max-width:2559px){
    .navbar{
        width: 100%;
    }
}
@media (max-width:1024px){
    .navbar{
        width: 100%;
        height: 69px;
    }
    .navbar .navbar1{
        width: 90%;

    }
    .navbar .navbar2{
        width: 20%;
    }
    .navbar .navbar1 a{
        display: inline ;
        padding: 23px 18px;
        font-size: 12px;
    }
   
}
@media (max-width:959px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-position: relative;
       
    }
    .navbar {
        width: 100%;
        height: 67px;
    }
    .navbar .navbar1{
        width: 90%;

    }
    .navbar .navbar2{
        width: 20%;
    }
    .navbar .navbar1 a{
        display: inline ;
        padding: 23px 10px;
        font-size: 15px;
    }
    .fa-bars{
        display: none;
    }
    .side-nav-bar .close-icon{
        display: none;
    }
    
}

@media (max-width:640px){
    body{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    .navbar{
        width: 100%;
        position: relative;
        position: fixed top;

    }
    .navbar .navbar1 a{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .side-nav-bar .close-icon{
        display: block;
    }
    .side-nav-bar{
        display: block;
        width: 25%;
    }
    .side-nav-bar a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    }
    .navbar .navbar2 {
        font-size: 25px;
    }
   
}

/* MAIN AREA STYLING */

#main-area{
    /* border: 2px solid gold; */
   display: flex;
   flex-direction: column;
   transition: margin-left 0.5s; 
   width: 100%;
   height: 100%;
   padding: 0;
   margin:0;
}
#main-area .main-area-images{
    /* height: 500px; */
    width: 100%;
}

#main-area .slider{
    /* border: 2px solid red; */
    height: 50%;
    flex-basis: 50%;
    overflow: hidden;
    background: #0c2d75;
    opacity: .9;
    z-index: 3;
    /* border-bottom: 5px solid rgb(253, 176, 9); */
}
#main-area .non-slider{
    /* border: 2px solid green; */
    height: 40%;    
    background:rgb(180, 76, 76);
    flex-basis: 50%;
}

#main-area .slider figure div{
    width: 20%;
    float: left;

}
#main-area .slider figure img{
    width: 100%;
    float: left;
    opacity: .3;
    z-index: 0;

}
#main-area .slider figure{
    width: 500%;
    position: relative;
    margin: 0;
    left: 0;
    animation: 30s moveimage infinite;
}
@keyframes moveimage{
    0%{
        left: 0%;
    }
    10%{
        left: 0%;
    }
    12%{
        left: -100%;
    }
    22%{
        left:-100%;
    }
    24%{
        left: -200%;
    }
    34%{
        left: -200%;
    }
    36%{
        left: -300%;
    }
    46%{
        left: -300%;
    }
    48%{
        left: -400%;
    }
    58%{
        left: -400%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    72%{
        left: -200%;
    }
    82%{
        left: -200%;
    }
    84%{
        left: -100%;
    }
    94%{
        left: -100%;
    }
    
}
/* styles for paragraphs on the sliding images */
#main-area .slider p{
    font-size: 30px;
    font-weight: 900;
    color: rgb(253, 176, 9);
    text-align: center;
    position: absolute;
    padding-top: 180px;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 9;
}
#main-area .slider .longParagraph p{
    font-size: 25px;
}
#main-area .slider .paragraph p{
    color: white;
}
#main-area .slider h1{
    font-size: 80px;
    font-weight: bold;
    color: rgb(253, 176, 9);
    text-align: center;
    position: absolute;
    padding-top: 140px;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 9;

}
#main-area .slider .Two p{
    color: goldenrod;
}
#main-area .slider .Three p{
    color: white;
}

/* MEDIA QUERIES FOR MAIN DIVs */
@media (max-width: 1440px){
    body{
        height: 100%;
    }
    .container{
        height: 100%;
    }
    .navbar{
        height: 17%;
    }
    #main-area{
        height: 100%;
    }
    #main-area .slider{
        /* border: 2px solid red; */
        height: 100%;
        flex-basis: 50%;
    }
    #main-area .non-slider{
        /* border: 2px solid green; */
        height: 100%;    
        background:rgb(180, 76, 76);
        flex-basis: 50%;
    }
    #main-area .slider p{
        font-size: 27px;
    }
}
@media (max-width: 1024px){
    body{
        height: 100%;
    }
    .container{
        height: 100%;
    }
    .navbar{
        height: 15%;
    }
    #main-area{
        height: 100%;
    }
    #main-area .slider{
        /* border: 2px solid red; */
        height: 100%;
        flex-basis: 50%;
    }
    #main-area .non-slider{
        /* border: 2px solid green; */
        height: 100%;    
        flex-basis: 50%;
    }
    #main-area .slider p{
        font-size: 27px;
    }

}
@media (max-width: 768px){

    body{
        height: 100%;
    }
    .container{
        height: 100%;
    }
    .navbar{
        height: 15%;
    }
    #main-area{
        height: 100%;
    }
    #main-area .slider{
        /* border: 2px solid red; */
        height: 100%;
        flex-basis: 40%;
    }
    #main-area .non-slider{
        /* border: 2px solid green; */
        height: 100%;    
        flex-basis: 60%;
    }
    #main-area .slider p{
        font-size: 27px;
    }

    #main-area .slider figure img{
        width: 100%;
        height: 500px;
    }
 }
@media (max-width: 649px){

    #main-area .slider{
        /* border: 2px solid red; */
        height: 100%;
        flex-basis: 50%;
    }
    #main-area .non-slider{
        /* border: 2px solid green; */
        height: 100%;    
        flex-basis: 50%;
    }
    
    #main-area .slider figure img{
        width: 100%;
        height: 500px;
    }
    #main-area .slider h1{
        font-size: 60px;
    }
    #main-area .slider p{
        font-size: 20px;
        padding-top: 135px;
    }

}

.non-sliderOne h1{
    text-align: center;
    font-size: 20px;
}
.homeServices a strong{
    font-size: 20px;
    color: rgb(253, 176, 9);
}
.homeServices i{
    margin: 20px 10px;
    font-size: 20px;
    color: white;
}

/* media queries for homeServices */
@media (max-width: 959px){
    .non-slider{
        display: flex;
        flex-direction: row;
        /* flex-flow: column-reverse; */
    }
    .non-slider{
        flex-flow: row wrap;
        
    }

}
@media (max-width: 649px){
    #main-area .non-slider{
        flex-direction: row;
        /* flex-flow: column-reverse; */
    }
    
}
/* keyframes for homeServices */
.more .one .two .three{
    animation: 5s homeServices 5s;
}
@keyframes homeServices{
    0%{margin-top: 0}
    25%{margin-top:0}
    50%{margin-top:10px}
    75%{margin-top:10px}
    100%{margin-top:0}
}

/* media queries fron sign up button */

@media (max-width: 1440px){
    .non-slider .login input[type="submit"]{
        margin-left: 380px;
    }
}
@media (max-width: 1024px){
    .non-slider .login input[type="submit"]{
        margin-left: 250px;
    }
}
@media (max-width: 959px){
    .non-slider .login input[type="submit"]{
        margin-left: 270px;
    }
    
}
@media (max-width: 649px){
    .non-slider .login input[type="submit"]{
        margin-left: 118px;
    }
}
.save{
    border: 2px solid black;
    width: 20%;
    float: left;
    margin: 20px;
    margin-left: 30px;
    padding: 20px;
    text-align: center;
    height: 200px;
}
.adsArea{
    widows: 100%;
    margin: 20px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.window{
    /* border: 2px solid black; */
    width: 23%;
    margin-left: 22px;
    text-align: center;
    height: 250px;
    background-color:#4f7de0;
    color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,.9);
}
.window:hover{
    background: #6b9aff;
}
.window i {
    margin-top: 10px;
    font-size: 80px;
    color: rgb(253, 176, 9);
}
.window h1 {
    font-size: 32px;
    color: rgb(253, 176, 9);
}
/* Media querry for window part */
@media (max-width: 1440px){
.window{
    height: 170px;
}
.window h1 {
    font-size: 25px;
}
.window i {
    margin-top: 10px;
    font-size: 50px;
}
#main-area .slider .longParagraph p{
    font-size: 20px;
    padding-top: 50px;
}
#main-area .slider .Two p{
    color: goldenrod;
    padding-top: 50px;
}
#main-area .slider .Three p{
    color: white;
    padding-top: 50px;
}
#main-area .slider .Five p{
    color: white;
    padding-top: 50px;
}
#main-area .slider .Four p{
    color: white;
    padding-top: 50px;
}
#main-area .slider h1{
    font-size: 90px;
    font-weight: bold;
    color: rgb(253, 176, 9);
    text-align: center;
    position: absolute;
    padding-top: 30px;
    width: 20%;
}
}
@media (max-width: 1024px){
    #main-area .main-area-images{
        /* height: 350px;
        width: 100%; */
    }
    #main-area .slider .longParagraph p{
        font-size: 20px;
        padding-top: 80px;
    }
    #main-area .slider .Two p{
        color: goldenrod;
        padding-top: 80px;
    }
    #main-area .slider .Three p{
        color: white;
        padding-top: 80px;
    }
    #main-area .slider .Five p{
        color: white;
        padding-top: 80px;
    }
    #main-area .slider .Four p{
        color: white;
        padding-top: 80px;
    }
    #main-area .slider h1{
        font-size: 90px;
        font-weight: bold;
        color: rgb(253, 176, 9);
        text-align: center;
        position: absolute;
        padding-top: 30px;
        width: 20%;
    }
    .adsArea{
        padding-left: 0px;
        padding-right: 10px;
        flex-wrap: wrap;
        margin-left: 2px;
    }
    .window{
        margin-left: 13px;
        width: 23%;
    }
    .window i {
        margin-top: 10px;
        font-size: 40px;
        color: rgb(253, 176, 9);
    }
    .window h1 {
        font-size: 22px;
    }
}
@media (max-width: 768px){
    #main-area .slider .longParagraph p{
        font-size: 20px;
        padding-top: 140px;
    }
    #main-area .slider .Two p{
        color: goldenrod;
        padding-top: 140px;
    }
    #main-area .slider .Three p{
        color: white;
        padding-top: 140px;
    }
    #main-area .slider .Five p{
        color: white;
        padding-top: 140px;
    }
    #main-area .slider .Four p{
        color: white;
        padding-top: 140px;
    }
    #main-area .slider h1{
        font-size: 90px;
        padding-top: 30px;
    }
    .adsArea{
        padding-left: 0px;
        flex-wrap: wrap;
        margin-left: 0px;
    }

    .window{
        /* border: 2px solid black; */
        margin-left: 10px;
        margin-top: 50px;
        padding-top: 30px;
        width: 48%;
        height: 230px;
    }
    .window i {
        margin-top: 10px;
        font-size: 50px;
        color: rgb(253, 176, 9);
    }
    .window h1 {
        font-size: 25px;
    }

}
.adsArea{
        padding-left: 40px;
        flex-wrap: wrap;
    }
@media (max-width: 425px){
    #main-area .slider .longParagraph p{
        font-size: 20px;
        padding-top: 50px;
    }
    #main-area .slider .Two p{
        color: goldenrod;
        padding-top: 50px;
    }
    #main-area .slider .Three p{
        color: white;
        padding-top: 50px;
    }
    #main-area .slider .Five p{
        color: white;
        padding-top: 50px;
    }
    #main-area .slider .Four p{
        color: white;
        padding-top: 50px;
    }
    #main-area .slider h1{
        font-size: 60px;
        padding-top: 22px;
    }
    .adsArea{
        /* margin-right: 10px; */
        flex-wrap: wrap;
        padding-left: 0px;
        padding-right: 20px;
    }
    .window{
        /* border: 2px solid black; */
        margin-top: 5px;
        width: 95%;
        height: 200px;
        padding: 20px 5px 0 5px;
    }
    .window i {
        margin-top: 10px;
        font-size: 70px;
        color: rgb(253, 176, 9);
    }
    .window h3 {
        font-size: 18px;
    }
    .window h1 {
        font-size: 30px;
    }
}
/* AFTER SIGN UP PAGE STYLING */
#main-areaPage{
    background:#3b5998;
    display: flex;
    flex-direction: row;
    transition: margin-left 0.5s; 
    border-top: 4px solid rgb(253, 176, 9);
    width: 100%;
    height: 100%;
}
.fa-bars{
    display: none;
}
.main-area-left{
    /* border: 2px solid black; */
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-area-right{
    /* border: 2px solid red; */
    text-align: center;
    flex-basis: 80%;
    height: 100%;
    background: url('../ASSETS/analysis-banking-businesswoman-1451448.jpg');
    background-size: cover;
 }
.main-area-left .profile{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    /* padding-top: 30px; */
}
.main-area-left .profileTitle{
    background: #4f7de0;
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
}
.main-area-left .profileTitle h2{
    margin-top: 5px;
}
.main-area-left .profile img{
    margin-left: 40px;
    border-radius: 100%;
}
.main-area-left .sideMenu{
    width: 60%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-area-left .sideMenu ul{
    /* border: 2px solid red; */
    list-style: none;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    margin-left: 30px;
}
.main-area-left .sideMenu ul li{
    /* border: 2px solid yellow; */
    padding: 20px;
}
.main-area-left .sideMenu ul a{
    /* border: 2px solid blue; */
    text-decoration: none;
    color: white;
}
.main-area-left .sideMenu ul a:hover{
    color: #4f7de0;
}
/* 
@keyframes profile{
0%{top:-80px}
100%{top: 0px}
} */

/* .main-area-left h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
} */

/* .profile{
    margin-left: 250px;
    margin-top: 20px;
} */
/* .profile img{
    position: absolute;
    margin-left: 120px;
    border-radius: 100%;
}
.profile span {
    color: white;
    margin-top: 100px;
}
.profile button a {
    text-decoration: none;
}
.profile button a:hover{
    color: #3b5998;
} */
/* .main-area-left:hover{
    transform: scale(.9);
    background: #6b9aff;
    color: rgb(253, 176, 9);
} */
.signupDashboard{ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    text-align: center;
    padding: 0 80px;
    line-height: 1.6;
    font-size: 18px;
    color: #ddd;

}
/* animation for sign dashboard message */
    .signupDashboard h2{
    position: relative;
    animation: 2s animation;
    animation-fill-mode: forwards;
}
@keyframes animation{
    0%{top:-1000px;}
    100%{top:0px;}
}
.signupDashboard h3, span{
    position: relative;
    animation: 2s leftanimation;
    animation-fill-mode: forwards;
} 
@keyframes leftanimation{
    0%{left:-50px;}
    100%{left:0px;}
}
.signupDashboard:hover{
    color: rgb(253, 176, 9);

}

.errMessage{
    display: none;
}
/* media queries for after sign up page */
@media (max-width: 1440px){
    body{
        height: 100%;
        width: 100%;
        /* background: #d48c20 */
    }
    .container{
        height: 100%;
    }
    #main-areaPage{
       height: 100%;
       
    }

}

@media (max-width: 649px){
    #main-areaPage{
        flex-flow: column-reverse;
       height: 100%;
        /* display: block; */
    }
    .main-area-left{
        flex-basis: 10%;
        border-right: none;
    }
    .main-area-right{
        flex-basis: 90%;
    }
    .main-area-left{
        margin-bottom: 80px;
    }
    .adsArea{
        margin: 5px;
        font-size: 30px;
    }
    .signupDashboard{ 
        margin-top: 20px;
    
    }
    .signupDashboard {
        font-size: 15px;
        line-height: 1.2;
        padding-bottom: 20px;
    }

    }
  
/* CSS STYLES FOR MAIN-AREA RIGHT SIDE */

/* media queries for main-area rigt side part */
@media (max-width: 649px){
    
}
/* create account styling */


.main-area-right .createAccount{
    display: none;
    position: relative;
    margin: 90px auto 0 auto;
    width: 50%;
    background: #3b5998;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    border-radius: 10px; 
    /* transition: transform 1s;
    animation: 2s animation;
    animation-fill-mode: forwards; */
}

/* @keyframes animation{
0%{top:-50px;}
100%{top:0px;}
} */
/* .main-area-right .createAccount:hover{
    transform: scale(.9);
    background: #6b9aff;
} */
.main-area-right .createAccount h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.main-area-right .createAccount .createAccountInput{
    position: relative;
    margin-left: 50px;
    width: 80%;
}
.main-area-right .createAccount .createAccountInput input{
    width: 80%;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* letter-spacing: 1px; */
    color: black;
    pointer-events: fill;
    /* border: none;
    outline: none; */
    /* border-bottom: 1px solid #fff; */
    background: #ddd;
    /* margin-bottom: 20px; */
}
.main-area-right .createAccount .createAccountInput label{
    /* position: absolute;
    top: 0;
    left: 0;
    padding:0;
    margin-top: -10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    pointer-events: none;
    transition: .9s; */
}
/* .main-area-right .createAccount .createAccountInput input:focus ~ label,
.main-area-right.createAccount .createAccountInput input:valid ~ label
{
    top: -10px;
    left: 0;
    color: rgb(253, 176, 9);
    font-size: 15px;
} */

.main-area-right .createAccount input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(253, 176, 9);
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin: 10px auto 0 -10px;
    width: 64%;
}
.main-area-right .createAccount input[type="submit"]:hover{
    background: rgb(253, 176, 9);
    opacity: .5;
    color: #3b5998;
}
.closecreateAccount-icon{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 15px;

}
.createAccount .selectStaff{
    width: 80%;
    margin-left: -5px;
}
.createAccount select{
    width: 63%;
    height: 40px;
    /* padding: 20px; */
    margin: 20px auto;
    /* border: none;
    outline: none; */
     background: transparent;
     color: white;
    /* border-bottom: 1px solid #fff; */
    font-size: 16px;
    /* letter-spacing: 1px; */
}
.createAccount select option{
   background:#3b5998;
   border: none;

}



/* media queries fron sign up button */

@media (max-width: 1439px){
    .main-area-right .createAccount input[type="submit"]{
        margin-left:0;
    }
}
/* @media (max-width: 959px){
    .main-area-right .createAccount input[type="submit"]{
        margin-left: 0;
    }
    #main-area{
        height: 1170px;
    }
} */

@media (min-width: 1800px){
    .main-area-right .createAccount{
        width: 50%;
    }
    .main-area-right .createAccount .createAccountInput{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto  auto 180px;
        width: 80%;
    } 
    .main-area-right .createAccount input[type="submit"]{
        width: 64%;
        margin-left: -2px;
    } 

    .navbar{
        height: 10%;
    }
    
}
@media (max-width: 1440px){
    .main-area-right .createAccount{
        width: 90%;
    }
    .main-area-right .createAccount .createAccountInput{
        position: relative;
        margin-left: 45px;
        width: 80%;
    } 
    .main-area-right .createAccount input[type="submit"]{
        width: 64%;
        margin-left: -110px;
    } 

    .navbar{
        height: 10%;
    }
    .createAccount select{
        margin-left: -100px;
    }
    
}

@media (max-width: 1024px){
    .main-area-right .createAccount{
        width: 90%;
    }
    .main-area-right .createAccount .createAccountInput{
        position: relative;
        margin-left: 45px;
        width: 80%;
    } 
    .main-area-right .createAccount input[type="submit"]{
        width: 64%;
        margin-left: -35px;
    } 

    .navbar{
        height: 10%;
    }
    .createAccount select{
        margin-left: -50px;
    }
    
}
@media (max-width: 960px){
    .main-area-right .createAccount{
        width: 90%;
    }
    .main-area-right .createAccount .createAccountInput{
        position: relative;
        margin-left: 45px;
        width: 80%;
    }
    .main-area-right .createAccount input[type="submit"]{
        width: 64%;
        margin-left: 10px;
    }

    .navbar{
        height: 10%;
    }
    .createAccount select{
        margin-left: 0px;
    }
    
}
@media (max-width: 649px){
    .main-area-right .createAccount{
        width: 90%;
    }
    .main-area-right .createAccount .createAccountInput{
        position: relative;
        margin-left: 45px;
        width: 80%;
    }
    .main-area-right .createAccount input[type="submit"]{
        width: 67%;
        margin-left: 20px;
    }

    .navbar{
        height: 10%;
    }
    .createAccount select{
        margin-left: 7px;
    }
}

/* TRANSACTION FIELD */
.main-area-right .transactionsPage{

    /* border: 2px solid red; */
    display: none;
    position: relative;
    margin: 50px auto;
    margin-top: 82px;
    width: 95%;
    height: 500px;
    background: #3b5998;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    /* transition: transform 1s; */
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    border-radius: 10px; 
    /* animation: 2s animation;
    animation-fill-mode: forwards; */

}

.main-area-right .transactionsPageHome{

    /* border: 2px solid red; */
    /* display: none; */
    position: relative;
    margin: 50px auto;
    margin-top: 82px;
    width: 70%;
    height: 500px;
    background: #3b5998;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    /* transition: transform 1s; */
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    border-radius: 10px; 
    /* animation: 2s animation;
    animation-fill-mode: forwards; */

}

.main-area-right .transactionsPageHome table, th, td{
    margin:auto;
    margin-left: 100px;
    /* border-bottom: 1px solid white; */
    text-align: center;
    /* border-collapse: collapse; */
    height: 40px;
    table-layout: fixed;
    /* opacity: .9; */
    
}
.main-area-right .transactionsPageHome table tr:hover{
    background: #6b9aff;
}

/* @keyframes animation{
0%{top:-50px;}
100%{top:0px;}
} */
/* .main-area-right .transactionsPage:hover{
    transform: scale(.9);
} */
.main-area-right .transactionsPage h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.main-area-right .transactionsPage table{
    position: relative;
    width: 100%;
    background: transparent;

}

.main-area-right .transactionsPage table, th, td{
    margin:auto;
    margin-left: 5px;
    /* border-bottom: 1px solid white; */
    text-align: center;
    /* border-collapse: collapse; */
    height: 40px;
    table-layout: fixed;
    /* opacity: .9; */
    
}

.main-area-right .transactionsPage table tr:hover{
    background: #6b9aff;
}
/* media queries for transactions */
@media (max-width: 1024px){
    .main-area-right .transactionsPage{
        font-size: 10px;
        height: 400px;
    }
}

@media (max-width: 959px){
    .main-area-right .transactionsPage{
        font-size: 10px;
        height: 500px;
    }
}

@media (max-width: 649px){
    .main-area-right .transactionsPage{
        font-size: 12px;
        height: 500px;

    }
    
}

/* AFTER LOGIN DASHBOARD STYLING */

/* #main-areaPage{
    height: 1200px;
} */

/* media queries for after login dashboard page */
@media (max-width: 649px){
    /* #main-areaPage{
        height: 1600px;
    } */
    
}
/* VIEW ACCOUNTS STYLING */
.main-area-right .transactionsPage table tr input[type="submit"]{
    background: transparent;
    width: 50px;
    height: 18px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(253, 176, 9);
    cursor: pointer;
    padding: 1px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    margin-left: 1px;
}
.main-area-right .transactionsPage table tr input[type="submit"]:hover{
    background: rgb(241, 194, 92);
    color: #4a6f8d;
}
.main-area-right .transactionsPage table tr i{
    margin: 0;
    margin-left: 2px;
    margin-top: 2px;
    color: gold;
}
.main-area-right .transactionsPage table tr i:hover{
    color: #ddd;
}

/* VIEW SPECIFIC ACCOUNT RECORD */
.main-area-right .transactionsPage img{
    border-radius: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
}

#footerId{
    transition: margin-left 0.5s;
}
