body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
/* navigation bar styling */
.navbar{
    /* border: 2px solid red; */
    background-color: #3b5998;
    display: flex;
    width: 100%;
    height: 70px;
    
    
}
#navbarId{
    transition: margin-left 0.5s; 
}
#barsmenu{
    transition-delay:0.5s;
}
.navbar1{
    /* border: 2px solid white; */
    flex-basis: 70%;
    display: flex;
}
.navbar .navbar1 a{
    /* border: 2px solid black; */
    text-decoration: none;
    margin:0;
    padding: 23px 40px;
    text-align: center;
    font-size: 22px;
    font-family: arial,serif;
    color: rgb(253, 176, 9);
    float: left;
    position: relative;
    
}
.navbar ul{
    /* border: 2px solid white; */
    flex-basis: 90%;
    height:100%;
    list-style: none;
    margin:0;

    
}
.navbar a:hover{
    background-color: #46619b;
    color: #ddd;
}

.fa-bars{
    margin:15px 10px 10px 15px;
    font-size: 30px;
    color: white;
    display: none;
}


.navbar2{
    /* border: 2px solid green; */
    flex-basis: 30%;
    color: white;
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    margin-left: auto;
    transform: translateX(-15%);
    transition-delay: 1.2, 0ms;
    animation: 10s banka infinite;

}

@keyframes banka{
    0%{color: white;margin-right:0;margin-left: 0;}
    25%{color: rgb(252, 193, 66);margin-right: 15px; margin-left: 0;}
    50%{color: rgb(253, 176, 9);margin-right: 0; margin-left: 15px;}
    75%{color: teal;margin-right: 15px; margin-left: 0;}
    100%{color: white;margin-right: 15px; margin-left: 0;}
}

/* side nav bar styling */

.side-nav-bar{
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #6b9aff;
    opacity: .9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.side-nav-bar a{
    text-decoration: none;
    padding: 10px 10px 10px 15px;
    display: block;
    font-size: 18px;
    color:#fff;
    
}

.side-nav-bar a:hover{
    color: #3b5998;
}
.side-nav-bar .close-icon{
    position:absolute;
    top: 0px;
    right: 15px;
    font-size: 40px;
    display: none;
}

/* welcome page media query */
@media all and (max-width:2559px){
    .navbar{
        width: 100%;
    }
}
@media all and (max-width:1024px){
    .navbar{
        width: 100%;
        height: 69px;
    }
    .navbar .navbar1{
        width: 90%;

    }
    .navbar .navbar2{
        width: 20%;
    }
    .navbar .navbar1 a{
        display: inline ;
        padding: 23px 18px;
        font-size: 12px;
    }
   
}
@media all and (max-width:959px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        background-position: relative;
       
    }
    .navbar {
        width: 100%;
        height: 67px;
    }
    .navbar .navbar1{
        width: 90%;

    }
    .navbar .navbar2{
        width: 20%;
    }
    .navbar .navbar1 a{
        display: inline ;
        padding: 23px 10px;
        font-size: 15px;
    }
    .fa-bars{
        display: none;
    }
    .side-nav-bar .close-icon{
        display: none;
    }
    
}

@media all and (max-width:640px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .navbar{
        width: 100%;
        position: relative;
        position: fixed top;

    }
    .navbar .navbar1 a{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .side-nav-bar .close-icon{
        display: block;
    }
    .side-nav-bar{
        display: block;
        width: 25%;
    }
    .side-nav-bar a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    }
    .navbar .navbar2 {
        font-size: 25px;
    }
    #main-area .slider{
        flex-basis: 30%;
    }
    #main-area .non-slider{
        flex-basis: 70%;
    }
   
}

/* MAIN AREA STYLING */

#main-area{
   display: flex;
   flex-direction: column;
   transition: margin-left 0.5s; 
   width: 100%;
   height: 670px;
   padding: 0;
   margin:0;
}

#main-area .main-area-images{
    /* height: 300px; */
    width: 100%;
}

#main-area .slider{
    flex-basis: 40%;
    border-bottom-left-radius: 2%;
    overflow: hidden;
    background: #0c2d75;
    opacity: .9;
    z-index: 3;
    border-bottom: 5px solid rgb(253, 176, 9);
}
#main-area .non-slider{
    background: #3b5998;
    flex-basis: 60%;
}

#main-area .slider figure div{
    width: 20%;
    float: left;

}
#main-area .slider figure img{
    width: 100%;
    float: left;
    opacity: .3;
    z-index: 0;

}
#main-area .slider figure{
    width: 500%;
    position: relative;
    margin: 0;
    left: 0;
    animation: 30s moveimage infinite;
}
@keyframes moveimage{
    0%{
        left: 0%;
    }
    10%{
        left: 0%;
    }
    12%{
        left: -100%;
    }
    22%{
        left:-100%;
    }
    24%{
        left: -200%;
    }
    34%{
        left: -200%;
    }
    36%{
        left: -300%;
    }
    46%{
        left: -300%;
    }
    48%{
        left: -400%;
    }
    58%{
        left: -400%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    72%{
        left: -200%;
    }
    82%{
        left: -200%;
    }
    84%{
        left: -100%;
    }
    94%{
        left: -100%;
    }
    
}
/* styles for paragraphs on the sliding images */
#main-area .slider p{
    font-size: 30px;
    font-weight: 900;
    color: rgb(253, 176, 9);
    text-align: center;
    position: absolute;
    padding-top: 70px;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 9;
}
#main-area .slider .longParagraph p{
    font-size: 25px;
}
#main-area .slider .paragraph p{
    color: white;
}
#main-area .slider h1{
    font-size: 90px;
    font-weight: bold;
    color: rgb(253, 176, 9);
    text-align: center;
    position: absolute;
    padding-top: 30px;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 9;

}
#main-area .slider .Two p{
    color: goldenrod;
}
#main-area .slider .Three p{
    color: white;
}

/* media queries for sliding area */
@media all and (max-width: 1439px){
    #main-area .slider p{
        font-size: 27px;
    }
}
@media all and (max-width: 959px){
    #main-area .slider figure img{
        width: 100%;
        height: 500px;
    }
    #main-area .slider h1{
        font-size: 60px;
    }
    #main-area .slider p{
        font-size: 25px;
        padding-top: 135px;
    }
   
    #main-area .slider .Three p{
        color: white;
    }
}
@media all and (max-width: 649px){
    
    #main-area .slider figure img{
        width: 100%;
        height: 500px;
    }
    #main-area .slider h1{
        font-size: 60px;
    }
    #main-area .slider p{
        font-size: 20px;
        padding-top: 135px;
    }
    .non-slider{
        display: block;
    }

}

/* styles for non-sliding body */
.non-slider{
    display: flex;
    flex-direction: row;
}
.non-sliderOne{
    flex-basis: 30%;
    margin: 15px 0 15px 10px;

}
.non-sliderTwo{
    flex-basis: 70%;
}
.homeServices{
    width: 90%;
    margin: 15px auto;
    padding: 0;
    font-size: 18px;
    display: flex;
    border-radius: 10px;
    background: linear-gradient(100deg,rgb(253, 176, 9),#3b5998 ); 
     background-size: 100% 100%;
     transition-property: all;
     transition-duration: 1s;
    /* animation: homeServices 4s; */
    
}
.homeServices:hover{
    background:#3b5998;
    transform: rotateY(180deg);
}
/* @keyframes homeServices{
    0%{left: -1000px}
    100%{left: 0px;}
} */

.more{
    width: 90%;
    height: 60px;
    padding-top: 7px;
    color: #ddd;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    background: linear-gradient(100deg,rgb(253, 176, 9),#3b5998 );
    background-size: 100% 100%;
    transition-property: all;
     transition-duration: 1s;
    /* animation: homeServices 10s  ease infinite; */
}
.more:hover{
    background:#3b5998;
    transform: rotateY(180deg);
}
.homeServices a{
    text-decoration: none;
    color:white;
    padding-top: 5px;

}

.non-sliderOne h1{
    text-align: center;
    font-size: 20px;
}
.homeServices a strong{
    font-size: 20px;
    color: rgb(253, 176, 9);
}
.homeServices i{
    margin: 20px 10px;
    font-size: 20px;
    color: white;
}

/* media queries for homeServices */
@media all and (max-width: 959px){
    .non-slider{
        flex-direction: column;
        flex-flow: column-reverse;
    }
}
@media all and (max-width: 649px){
    #main-area .non-slider{
        flex-direction: column;
        flex-flow: column-reverse;
    }
    
}
/* keyframes for homeServices */
.more .one .two .three{
    animation: 5s homeServices 5s;
}
@keyframes homeServices{
    0%{margin-top: 0}
    25%{margin-top:0}
    50%{margin-top:10px}
    75%{margin-top:10px}
    100%{margin-top:0}
}
/* css styles for user sign up */

.non-sliderTwo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.non-sliderTwo .signUp{
    display: none;
    position: relative;
    margin: 50px auto;
    width: 90%;
    background: #3b5998;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    border-radius: 10px;
    transition: transform 1s;
    animation: 2s animation;
    animation-fill-mode: forwards;
}

/* signup keyframes animation */
@keyframes animation{
    0%{top:-100px;}
    100%{top:0px;}
}
.non-sliderTwo .signUp:hover{
    transform: scale(.9);
    background: #6b9aff;
}
.non-sliderTwo .signUp h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.non-sliderTwo .signUp .signUpInput{
    position: relative;
}
.non-sliderTwo .signUp .signUpInput input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    margin-bottom: 20px;
}
.non-sliderTwo .signUp .signUpInput label{
    position: absolute;
    top: 0;
    left: 0;
    padding:0;
    margin-top: -10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    pointer-events: none;
    transition: .9s;
}
.non-sliderTwo .signUp .signUpInput input:focus ~ label,
.non-sliderTwo .signUp .signUpInput input:valid ~ label
{
    top: -10px;
    left: 0;
    color: rgb(253, 176, 9);
    font-size: 15px;
}

.non-sliderTwo .signUp input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(253, 176, 9);
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin-left: 430px;
}
.non-sliderTwo .signUp input[type="submit"]:hover{
    background: rgb(253, 176, 9);
    opacity: .5;
    color: #3b5998;
}
.closeSignUp-icon{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 15px;

}
.closeSignUp-icon:hover{
    color: #6b9aff;
}
/* media queries fron sign up button */

@media all and (max-width: 1440px){
    .non-sliderTwo .signUp input[type="submit"]{
        margin-left: 380px;
    }
}

@media all and (max-width: 1024px){
    .non-sliderTwo .signUp input[type="submit"]{
        margin-left: 250px;
    }
}
@media all and (max-width: 959px){
    .non-sliderTwo .signUp input[type="submit"]{
        margin-left: 255px;

    }
}
@media all and (max-width: 649px){
    .non-sliderTwo .signUp input[type="submit"]{
        margin-left: 118px;
    }
}
.errMessage{
    display: none;
    color: rgb(252, 193, 66);
}
/* css styles for login UI */

.non-sliderTwo .login{
    display: none;
    position: relative;
    margin: 50px auto;
    width: 90%;
    background: #3b5998;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    border-radius: 10px; 
    transition: transform 1s;
    animation: 2s animation;
    animation-fill-mode: forwards;
}
@keyframes animation{
    0%{top:-100px;}
    100%{top:0px;}
}
.non-sliderTwo .login:hover{
    transform: scale(.9);
    background: #6b9aff;
}
.non-sliderTwo .login h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.non-sliderTwo .login .loginInput{
    position: relative;
}
.non-sliderTwo .login .loginInput input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    margin-bottom: 20px;
}
.non-sliderTwo .login .loginInput label{
    position: absolute;
    top: 0;
    left: 0;
    padding:0;
    margin-top: -10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    pointer-events: none;
    transition: .9s;
}
.non-sliderTwo .login .loginInput input:focus ~ label,
.non-sliderTwo .login .loginInput input:valid ~ label
{
    top: -10px;
    left: 0;
    color: rgb(253, 176, 9);
    font-size: 15px;
}

.non-sliderTwo .login input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(253, 176, 9);
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin-left: 430px;
}
.non-sliderTwo .login input[type="submit"]:hover{
    background: rgb(253, 176, 9);
    opacity: .5;
    color: #3b5998;
}
.closeSignUp-icon{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 15px;

}
/* media queries fron sign up button */

@media all and (max-width: 1440px){
    .non-sliderTwo .login input[type="submit"]{
        margin-left: 380px;
    }
}
@media all and (max-width: 1024px){
    .non-sliderTwo .login input[type="submit"]{
        margin-left: 250px;
    }
}
@media all and (max-width: 959px){
    .non-sliderTwo .login input[type="submit"]{
        margin-left: 270px;
    }
    
}
@media all and (max-width: 649px){
    .non-sliderTwo .login input[type="submit"]{
        margin-left: 118px;
    }
}
.adsArea{
    position: relative;
    padding: 0;
    text-align: center;
    margin-top: 150px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(253, 176, 9);
    font-size: 40px;
    font-weight: 900;
    animation: 2s adsarea;
    animation-fill-mode: forwards;
}
.adsArea:hover{
    color: #4a6f8d;
}
@keyframes adsarea{
    0%{left: -200px;}
    100%{left: 0px;}
}
/* AFTER SIGN UP PAGE STYLING */
#main-areaPage{
    background:#3b5998;
    display: flex;
    flex-direction: row;
    transition: margin-left 0.5s; 
    border-top: 4px solid rgb(253, 176, 9);
    width: 100%;
    height: 726px;
}
.fa-bars{
    display: none;
}
.main-area-left{
    flex-basis: 30%;
}
.main-area-right{
    text-align: center;
    flex-basis: 70%;
}

.profileImage{
    display: block;
    position: relative;
    margin: 80px auto 0 auto;
    width: 80%;
    height: 350px;
    background: #3b5998;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    border-radius: 10px;
    transition: transform .7s;
    animation: 2s profile;
    animation-fill-mode: forwards;
}



@keyframes profile{
0%{top:-80px}
100%{top: 0px}
}

.profileImage h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.profileImage img{
    position: absolute;
    margin-left: 0;
    text-align: center;
    border-radius: 100%;  
}

.profileImage button{
    margin: 120px 0 0 0;
    border: none;
    outline: none;
    background: transparent;
    background: rgb(253, 176, 9);
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;

}
.profileImage button a {
    text-decoration: none;
}
.profileImage button a:hover{
    color: #3b5998;
}
.profileImage:hover{
    transform: scale(.9);
    background: #6b9aff;
    color: rgb(253, 176, 9);
}
.signupDashboard{ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    text-align: center;
    padding: 0 80px;
    line-height: 1.6;
    font-size: 18px;
    color: #ddd;

}
/* animation for sign dashboard message */
    .signupDashboard h2{
    position: relative;
    animation: 2s animation;
    animation-fill-mode: forwards;
}
@keyframes animation{
    0%{top:-1000px;}
    100%{top:0px;}
}
.signupDashboard h3, span{
    position: relative;
    animation: 2s leftanimation;
    animation-fill-mode: forwards;
} 
@keyframes leftanimation{
    0%{left:-50px;}
    100%{left:0px;}
}
.signupDashboard:hover{
    color: rgb(253, 176, 9);

}
/* media queries for after sign up page */

@media all and (max-width: 649px){
    #main-areaPage{
        flex-flow: column-reverse;
       height: 1080px;
        /* display: block; */
    }
    .main-area-left{
        flex-basis: 10%;
        border-right: none;
    }
    .main-area-right{
        flex-basis: 90%;
    }
    .profileImage{
        margin-bottom: 80px;
    }
    .adsArea{
        font-size: 30px;
    }
    .signupDashboard{ 
        margin-top: 20px;
    
    }
    .signupDashboard {
        font-size: 15px;
        line-height: 1.2;
        padding-bottom: 20px;
    }
}

/* CSS STYLES FOR MAIN-AREA RIGHT SIDE */

/* media queries for main-area rigt side part */
@media all and (max-width: 649px){
    
}
/* create account styling */


.main-area-right .createAccount{
    display: none;
    position: relative;
    margin: 50px auto 0 auto;
    width: 90%;
    background: #3b5998;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    border-radius: 10px; 
    transition: transform 1s;
    animation: 2s animation;
    animation-fill-mode: forwards;
}

@keyframes animation{
0%{top:-50px;}
100%{top:0px;}
}
.main-area-right .createAccount:hover{
    transform: scale(.9);
    background: #6b9aff;
}
.main-area-right .createAccount h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.main-area-right .createAccount .createAccountInput{
    position: relative;
}
.main-area-right .createAccount .createAccountInput input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    margin-bottom: 20px;
}
.main-area-right .createAccount .createAccountInput label{
    position: absolute;
    top: 0;
    left: 0;
    padding:0;
    margin-top: -10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    pointer-events: none;
    transition: .9s;
}
.main-area-right .createAccount .createAccountInput input:focus ~ label,
.main-area-right.createAccount .createAccountInput input:valid ~ label
{
    top: -10px;
    left: 0;
    color: rgb(253, 176, 9);
    font-size: 15px;
}

.main-area-right .createAccount input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(253, 176, 9);
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin-left: 70px;
}
.closecreateAccount-icon{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 15px;

}
.createAccountInput select{
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #ddd;
    font-size: 16px;
    letter-spacing: 1px;
}
.createAccountInput select option{
   background:#3b5998;
   color: #fff;
   border: none;

}

/* media queries fron sign up button */

@media all and (max-width: 1439px){
    .main-area-right .createAccount input[type="submit"]{
        margin-left:0;
    }
}
@media all and (max-width: 959px){
    .main-area-right .createAccount input[type="submit"]{
        margin-left: 0;
    }
    #main-area{
        height: 1170px;
    }
}
@media all and (max-width: 649px){
    .main-area-right .createAccount input[type="submit"]{
        margin-left:0;
    }
    
}

/* TRANSACTION FIELD */
.main-area-right .transactionsPage{

    /* border: 2px solid red; */
    display: none;
    position: relative;
    margin: 50px auto;
    width: 90%;
    height: 500px;
    background: #3b5998;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 1s;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
    border-radius: 10px; 
    animation: 2s animation;
    animation-fill-mode: forwards;

}

@keyframes animation{
0%{top:-50px;}
100%{top:0px;}
}
.main-area-right .transactionsPage:hover{
    transform: scale(.9);
}
.main-area-right .transactionsPage h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.main-area-right .transactionsPage table{
    position: relative;
    width: 100%;
    background: transparent;

}

.main-area-right .transactionsPage table, th, td{
    margin:auto;
    margin-left: 5px;
    border-bottom: 1px solid white;
    text-align: center;
    border-collapse: collapse;
    height: 40px;
    table-layout: fixed;
    opacity: .9;
    
}

.main-area-right .transactionsPage table tr:hover{
    background: #6b9aff;
}
/* media queries for transactions */
@media all and (max-width: 1024px){
    .main-area-right .transactionsPage{
        font-size: 10px;
        height: 400px;
    }
}

@media all and (max-width: 959px){
    .main-area-right .transactionsPage{
        font-size: 10px;
        height: 500px;
    }
}

@media all and (max-width: 649px){
    .main-area-right .transactionsPage{
        font-size: 12px;
        height: 500px;

    }
    
}

/* AFTER LOGIN DASHBOARD STYLING */

/* #main-areaPage{
    height: 1200px;
} */

/* media queries for after login dashboard page */
@media all and (max-width: 649px){
    /* #main-areaPage{
        height: 1600px;
    } */
    
}
/* VIEW ACCOUNTS STYLING */
.main-area-right .transactionsPage table tr input[type="submit"]{
    background: transparent;
    width: 50px;
    height: 18px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(253, 176, 9);
    cursor: pointer;
    padding: 1px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    margin-left: 1px;
}
.main-area-right .transactionsPage table tr input[type="submit"]:hover{
    background: rgb(241, 194, 92);
    color: #4a6f8d;
}
.main-area-right .transactionsPage table tr i{
    margin: 0;
    margin-left: 2px;
    margin-top: 2px;
    color: gold;
}
.main-area-right .transactionsPage table tr i:hover{
    color: #ddd;
}

/* VIEW SPECIFIC ACCOUNT RECORD */
.main-area-right .transactionsPage img{
    border-radius: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,.9);
}
/* footer styling */

.footer{
    width: 100%;
    height: 62px;
    background-color: #3b5998;
}
#footerId{
    transition: margin-left 0.5s;
}
